[Desktop Entry]
Type=Application
Name=OdysSINT
Exec=gnome-terminal --title="Script OdysSINT" --geometry=80x80 -- /bin/bash -c "$HOME/OdysSINT/OdysSINT.sh"
Terminal=true
Icon=/home/ulysses/OdysSINT/Ulysses_Icon.png
