[Desktop Entry]
Type=Application
Name=OdysSINT
Exec=gnome-terminal --geometry=80x80 -- /bin/bash -c "$HOME/OdysSINT/OdysSINT.sh; exec /bin/bash"
Terminal=true
Icon=/home/ulysses/OdysSINT/Ulysses_Icon.png
